.col-2 {
  font-size: 25px;
  font-weight: bold;
}

.col-10 {
  font-size: 25px;
  font-weight: 400;
}

.container {
  background-image: linear-gradient(
    45deg,
    rgb(210, 59, 248),
    rgb(236, 96, 77),
    rgb(89, 111, 212)
  );
}

input[type="submit"] {
  border-radius: 10px;
  background-color: transparent;
  border: 1px black solid;
  font-weight: 300px;
}

body {
  background-image: url("img/lib.jpg");
  background-color: #cccccc;
  align-content: stretch;
}
